<header>
    <nav>
        <div class="row">
            <img src="../../assets/logo-white.png" alt="PartyPainters logo" class="logo">
            <img src="../../assets/logo.png" alt="PartyPainters logo" class="logo-black">
            <ul class="main-nav js--main-nav">
                <li><a href="#features">Our Services</a></li>
                <li><a href="#works">Value Added Services</a></li>
                <li><a href="#cities">Entertainment</a></li>
                <li><a href="#plans">Gallary</a></li>
                <li><a href="#plans">Contact Us</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Party Painters.</h1>
    </div>

</header>

<section class="section-features js--section-features" id="features">
    <div class="row">
        <h2>If your occasion demands celebrations – contact us so we can paint it awesome!</h2>
        <p class="long-copy">
            Hello, Party Painters is Hyderabad based event management company dedicated to providing customer with
            services for corporate and personal events be it wedding decorations, corporate and cultural events,
            birthdays, anniversaries and many more!
        </p>
    </div>

    <!-- <div class="row js--wp-1"> -->
    <div class="row ">
        <div class="col span-1-of-4 box"> 
            <i class="ion-ios-contact icon-big"></i>
            <h3>Skilled planners</h3>
            <p>
                Our trained and skilled planners take pride in helping our customers experience their idea of great
                party in real. We provide innovative ideas for complete customer’s satisfaction.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-contact icon-big"></i>
            <h3>Budget freindly</h3>
            <p>
                You're only twenty minutes away from your delicious and super healthy meals delivered right to your
                home. We work with the best chefs in each town to ensure that you're 100% happy.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-contact icon-big"></i>
            <h3>Pro-performers</h3>
            <p>
                Our perfomers, i.e. magicians, singers, dancers etc, are well established professtionals. Sit back and
                enjoy their craft as they are awesome.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-ios-contact icon-big"></i>
            <h3>customer first</h3>
            <p>
                Our consultants sit with you to understand your occasion, taste and budget and design unique
                ‘theme-driven’ party which becomes part of “wow” memories for you and your guests
            </p>
        </div>
    </div>
</section>


<section class="section-cities" id="cities">
    <div class="row">
        <h2>Our Services</h2>
    </div>
    <!-- <div class="row js--wp-3"> -->
    <div class="row ">

        <div class="col span-1-of-4 box">
            <img src="../../assets/wedding.jpeg" alt="Lisbon">
            <h5>Weddings and Engagements</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/reunion.jpeg" alt="San Francisco">
            <h5>Anniversaries and Reunions</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/conference.jpeg" alt="Berlin">
            <h5>Conferences and Seminars</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/exhibitions.jpeg" alt="London">
            <h5>Annual fests and Exhibitions</h5>

        </div>

    </div>
    <!-- <div class="row js--wp-3"> -->
    <div class="row ">
        <div class="col span-1-of-4 box">
            <img src="../../assets/house-warming.jpeg" alt="London">
            <h5>Inaugurations and House warmings</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/baby-shower.jpeg" alt="London">
            <h5>Cradle ceremonies and Baby Showers</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/birthdays.jpeg" alt="London">
            <h5>Birthdays </h5>
        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/social-events.jpeg" alt="London">
            <h5>Festivals and Social events</h5>

        </div>
    </div>

</section>

<section class="section-cities" id="cities">
    <div class="row">
        <h2>Value Added Services</h2>
    </div>
    <!-- <div class="row js--wp-3"> -->
    <div class="row ">
        <div class="col span-1-of-4 box">
            <img src="../../assets/consulting.jpeg" alt="Lisbon">
            <h5>Theme consulting</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/cordination.jpeg" alt="San Francisco">
            <h5>Coordination</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/event-management.jpeg" alt="Berlin">
            <h5>Event Management</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/photography.jpeg" alt="London">
            <h5>Photography</h5>

        </div>

    </div>
    <!-- <div class="row js--wp-3"> -->
    <div class="row ">
        <div class="col span-1-of-4 box">
            <img src="../../assets/audio-visual.jpg" alt="London">
            <h5>Audio and Visual solutions</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/london.jpg" alt="London">
            <h5>Favours</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/cake.jpeg" alt="London">
            <h5>Cake and Candy stations</h5>

        </div>

    </div>

</section>
<section class="section-cities" id="cities">
    <div class="row">
        <h2>Entertainment</h2>
    </div>
    <!-- <div class="row js--wp-3"> -->
    <div class="row ">
        <div class="col span-1-of-4 box">
            <img src="../../assets/artist-management.jpg" alt="Lisbon">
            <h5>Artist Management</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/anchors.jpeg" alt="San Francisco">
            <h5>Anchors</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/bands.jpeg" alt="Berlin">
            <h5>Live bands</h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/DJ.jpeg" alt="London">
            <h5>DJ set-up</h5>

        </div>

    </div>
    <!-- <div class="row js--wp-3"> -->
    <div class="row ">
        <div class="col span-1-of-4 box">
            <img src="../../assets/cotton-candy.jpeg" alt="London">
            <h5>cotton candy </h5>

        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/chocolate-fountains.jpg" alt="London">
            <h5>Chocolate fountains </h5>
        </div>
        <div class="col span-1-of-4 box">
            <img src="../../assets/food-stalls.jpeg" alt="London">
            <h5>Other party food stalls</h5>

        </div>
    </div>

</section>
<section class="section-testimonials">
    <div class="row">
        <h2>Our customers can't live without us</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so
                Omnifood is a life-saver. Now that I got used to it, I couldn't live without my daily meals!
                <cite><img src="../../assets/customer-1.jpg">Alberto Duncan</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery
                here in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!
                <cite><img src="../../assets/customer-2.jpg">Joana Silva</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and
                ended up with Omnifood. Best food delivery service in the Bay Area. Keep up the great work!
                <cite><img src="../../assets/customer-3.jpg">Milton Chapman</cite>
            </blockquote>
        </div>
    </div>
</section>


<section class="section-form">
    <div class="row">
        <h2>We're happy to hear from you</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="find-us">How did you find us?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="friends" selected>Friends</option>
                        <option value="search">Search engine</option>
                        <option value="ad">Advertisement</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Newsletter?</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" name="news" id="news" checked> Yes, please
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Drop us a line</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" placeholder="Your message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Send it!">
                </div>
            </div>

        </form>

    </div>
</section>

<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">iOS App</a></li>
                <li><a href="#">Android App</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-links">
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            This webpage was created for the course "Design and Develop a Killer Website Using HTML5 and CSS3" by Jonas
            Schmedtmann. No copyrights here.<br>
            This webpage is for you! So go and do whatever you want with it and have fun.
        </p>
        <p>
            Build with <i class="ion-ios-heart" style="color: #ea0000; padding: 0 3px;"></i> in the beautiful city of
            Lisbon, Portugal, March 2015.
        </p>
    </div>
</footer>